

header{
  /*transparency for video*/
  background: rgba(0, 0, 0, 0.4);
  height: 150px;
  width:auto;
  font-family: ultra;
  font-size: 30px;
  text-align: center;
}

h1{
  color: white;
  position: relative;
  padding-top: 50px;
  margin: 0px;
}

.score{
  height: 100px;
  width: 200px;
  background-color: : black;
  border: 2px solid white;
  font-size: 25px;
  text-align: center;
}

#player1{
  background-color: black;
  position: relative;
  left: 16px;
  top: 120px;
}

#player2{
  background-color: black;
  position: relative;
  left: 1177px;
  top: 16px;
}

#p1Card{
  position:fixed;
  left: 50em;
  padding-top: 30em;
}

#p2Card{
  position:fixed;
  right: 50em;
  padding-top: 30em;
}

#dealBtn {
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 600px;
    top: 300px;
}

#refresh {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 600px;
    top: 620px;
    z-index: 1;
}

p1{
  font-size: 50px;
  color: white;
  vertical-align: middle;
  text-align: center;

}

#p1Tag{
  position: fixed;
  left: -226px;
  top: 312px;

}

#p2Tag{
  position: fixed;
  left: 937px;
  top: 312px;

}

.playerTag{
  color: white;
  font-size: 25px;
  display: inline-block;
  float: left;
  margin-left: 20%;
  position: relative;
  top: 72px;
}

.board{
  background: rgba(0, 0, 0, 0.4);
  width: auto;
  height: 600px;
}

.deck{
  zoom: 20%;
  display: block;
  margin-left:75px;
  padding-top: 1075px;
}

.card{
  zoom: 35%;
  display: block;
  margin-left:75px;
  padding-top: 1000px;
}

#red_deck{
position: fixed;
left: 20em;
}

#blue_deck{
position: fixed;
right: 20em;
}



/* Modal Background */
.modal {
    padding-left:15px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    font-family: ultra;
    background-color: #ff751a;
    margin: 500px auto 50px;
    padding: 20px;
    border: 1px solid black;
    height: 7%;
    width: 20%;
    text-align: center;
}

/* Modal Content for Winning Hand */
 .modal .winningModal {
  font-family: ultra;
  background-color: grey;
  argin: 500px auto 50px;
  padding: 20px;
  border: 1px solid black;
  height: 200px;
  width: 400px;
  text-align: center;
}


#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
